<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">{{title}}</a>

		<div class="collapse navbar-collapse justify-content-between" id="navbarsExampleDefault">
			<ul class="navbar-nav my-2 my-lg-0 align-self-end">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello Joe</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">

	<div class="row row-offcanvas row-offcanvas-left">

		<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
			<div class="list-group">
				<a href="#" class="list-group-item active">Deliveries</a>
				<a href="#" class="list-group-item">Items</a>
			</div>
		</div><!--/span-->

		<div class="col-12 col-md-9">
			<p class="float-left hidden-md-up">
				<button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
			</p>
			<div class="jumbotron">
				<img class="img-responsive" src="./assets/img/map.png" />
			</div>
			<div class="row">
				<div class="col-12 col-lg-12">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#current-delivery" role="tab" aria-controls="current-delivery">Current Delivery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#deliveries" role="tab" aria-controls="deliveries">Deliveries</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="current-delivery" role="tabpanel">
							<div class="card" style="width: 20rem;">
								<img class="img-responsive" src="./assets/img/730-california.png" />
								<div class="card-block">
									<h4 class="card-title">1st Delivery</h4>
									<p class="small">730 California Street, San Francisco, CA 94110</p>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Item 1</li>
										<li class="list-group-item">Item 2</li>
										<li class="list-group-item">Item 3</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="deliveries" role="tabpanel">
							<ul class="nav flex-column col-6 col-lg-6 justify-content-between">
								<li class="nav-item">
									<a class="nav-link active" href="#">First Delivery</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Second Delivery</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Third Delivery</a>
								</li>
							</ul>
							<div class="col-6 col-lg-6"><!-- 
								<div class="card" style="width: 20rem;">
									<img class="img-responsive" src="./assets/img/730-california.png" />
									<div class="card-block">
										<h4 class="card-title">1st Delivery</h4>
										<p class="small">730 California Street, San Francisco, CA 94110</p>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">Item 1</li>
											<li class="list-group-item">Item 2</li>
											<li class="list-group-item">Item 3</li>
										</ul>
									</div>
								</div> -->
							</div><!--/col-lg-6-->	
						</div>
					</div>

					<script>
						$(function () {
							$('#myTab a:last').tab('show')
						})
					</script>
				</div><!--/span-->
			</div><!--/row-->
		</div><!--/span-->

	</div><!--/row-->

	<hr>

	<footer>
		<p>&copy; Company 2017</p>
	</footer>

</div><!--/.container-->